[preset.0.options]
package/unique_name="com.dosco.labatailledesetoiles"
package/name="DOSCO"
package/signed=true
package/classify_as_game=true

# Ajoute impérativement ces configurations pour le keystore de debug :
keystore/debug="res://debug.keystore"
keystore/debug_user="androiddebugkey"
keystore/debug_password="android"

# Si tu gères la release via tes secrets GitHub secrets :
keystore/release="res://release.keystore"
keystore/release_user="ton_alias_de_release"
keystore/release_password="ton_password_de_release"
